<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		
		<!-- プレイアブルキャラクターの編集 -->
		<table border="1" th:if=="${session.mode == 'ally'}">
			
			<!-- 既存の一覧 -->
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>HP</th>
				<th>MP</th>
				<th>攻撃力</th>
				<th>防御力</th>
				<th>素早さ</th>
				<th>魔法</th>
				<th>特技</th>
				<th>耐性力</th>
				<th>ターン開始スキル</th>
				<th>ターン終了時のスキル</th>
				<th></th>
			</tr>
			
			<tr th:each="ally:${allyList}">
				<td>
					<a th:text="${ally.id}"></a>
				</td>
				<td>
					<a th:text="${ally.name}"></a>
				</td>
				<td>
					<a th:text="${ally.hp}"></a>
				</td>
				<td>
					<a th:text="${ally.mp}"></a>
				</td>
				<td>
					<a th:text="${ally.atk}"></a>
				</td>
				<td>
					<a th:text="${ally.def}"></a>
				</td>
				<td>
					<a th:text="${ally.spe}"></a>
				</td>
				<td>
					<a th:text="${ally.magic}"></a>
				</td>
				<td>
					<a th:text="${ally.skill}"></a>
				</td>
				<td>
					<a th:text="${ally.resistance}"></a>
				</td>
				<td>
					<a th:text="${ally.turnstartskill}"></a>
				</td>
				<td>
					<a th:text="${ally.turnendskill}"></a>
				</td>
				<td>
					
				</td>
			</tr>
			
			<!-- 新規追加 -->
			<form th:action="@{/}" method="post" th:object="${allyForm}">
				<tr>
					<td>
						
					</td>
					<td>
						<input type="text" size="50" name="name" th:value="*{name}">
					</td>
					<td>
						<input type="text" size="5" name="hp" th:value="*{hp}">
					</td>
					<td>
						<input type="text" size="5" name="mp" th:value="*{mp}">
					</td>
					<td>
						<input type="text" size="5" name="atk"  th:value="*{atk}">
					</td>
					<td>
						<input type="text" size="5" name="def"  th:value="*{def}">
					</td>
					<td>
						<input type="text" size="5" name="spe"  th:value="*{spe}">
					</td>
					<td>
						<input type="text" size="100" name="magic"  th:value="*{magic}">
					</td>
					<td>
						<input type="text" size="100" name="skill"  th:value="*{skill}">
					</td>
					<td>
						<input type="text" size="5" name="resistance"  th:value="*{resistance}">
					</td>
					<td>
						<input type="text" size="10" name="turnstartskill"  th:value="*{turnstartskill}">
					</td>
					<td>
						<input type="text" size="10" name="turnendskill"  th:value="*{turnendskill}">
					</td>
					<td>
						<button type="submit" th:formaction="@{/ally/create}">登録</button>
					</td>
				</tr>
			</form>
			
			
		</table>
		
	</body>
	
</html>