<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<div>
			<form th:action="@{/}" method="post" th:object="${session.magicQuery}">
				<table border="1">
					<tr>
						<th>名前</th>
						<th>魔法種別</th>
						<th>効果範囲</th>
						<th>バフ効果</th>
						<th></th>
					</tr>
					<tr>
						<td>
							<input type="text"  size="50" name="name" th:value="*{name}">
						</td>
						<td>
							<select name="category">
								<option value="" >すべて</option>
								<option value="targetally" >味方への魔法(蘇生以外)</option>
								<option value="targetenemy" >敵への魔法</option>
								<option value="resuscitationmagic" >蘇生魔法</option>
							</select>
						</td>
						<td>
							<select name="range">
								<option value="" >すべて</option>
								<option value="single">単体</option>
								<option value="group" >グループ</option>
								<option value="whole" >全体</option>
							</select>
						</td>
						<td>
							<select name="buffcategory">
								<option value="" >すべて</option>
								<option value="no" >なし</option>
								<option value="DEF">防御力</option>
							</select>
						</td>
						<td>
							<div th:if="${session.magicmode == 'reading'}">
								<button type="submit" th:formaction="@{/ally/magic/query}">検索</button>
							</div>
							<div th:if="${session.magicmode == 'edit'}">
								<button type="submit" th:formaction="@{/magic/query}">検索</button>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<!-- プレイアブルキャラクターの使用可能な魔法の編集  -->
		<div th:if="${session.magicmode == 'reading'}">
			
			<table border="1">
				<tr>
					<th>id</th>
					<th>名前</th>
					<th>消費MP</th>
					<th>カテゴリー</th>
					<th>威力</th>
					<th>補正値</th>
					<th>範囲</th>
					<th>説明文</th>
					<th>バフ効果</th>
					<th>発動回数</th>
					<th></th>
				</tr>
				
				<!-- 使用可能な魔法一覧 -->
				<form th:action="@{/}" method="post">
					<tr th:each="magic:${magicList}">
						<td>
							<a th:text="${magic.id}"></a>
						</td>
						<td>
							<a th:text="${magic.name}"></a>
						</td>
						<td>
							<a th:text="${magic.mp}"></a>
						</td>
						<td>
							<a th:text="${magic.category}"></a>
						</td>
						<td>
							<a th:text="${magic.point}"></a>
						</td>
						<td>
							<a th:text="${magic.percentage}"></a>
						</td>
						<td>
							<a th:text="${magic.range}"></a>
						</td>
						<td>
							<a th:text="${magic.text}"></a>
						</td>
						<td>
							<a th:text="${magic.buffcategory}"></a>
						</td>
						<td>
							<a th:text="${magic.frequency}"></a>
						</td>

						<td>
							<div th:unless="${magic.id == 26}">
								<button type="submit" th:formaction="@{/ally/magic/delete/__${magic.id}__}">使用不可にする</button>
							</div>
						</td>
					</tr>
					
					<div th:unless="${session.announcement == 'magicskill'}">
						<div th:unless="${session.mode == 'update'}">
							<button type="submit" th:formaction="@{/ally/cancel}">戻る</button>
						</div>
					</div>
					
					<div th:if="${session.mode == 'magicupdate'}">
						<button type="submit" th:formaction="@{/edit/magic}" >戻る</button>
					</div>
					
					<div th:if="${session.mode == 'update'}">
						<button type="submit" th:formaction="@{/ally/__${session.ally.id}__}" >戻る</button>
					</div>
					
				</form>
				
			</table>
			
			<form th:action="@{/}" method="post">
				<div th:unless="${magicAllList.size() == 0}">
					<select name="magicAddId">
						<option th:each="a : ${magicAllList}" th:value="${a.id}" th:text="${a.name}" th:selected="${a.id} == *{addId}"></option>
					</select>
					<button type="submit" th:formaction="@{/ally/magic/add}">使用可能な魔法に追加</button>
				</div>
				<div th:if="${magicAllList.size() == 0}">
					<a>すべての魔法が使用できます。</a>
				</div>
			</form>
			
			<form th:action="@{/}" method="get">
				<div th:if="${session.announcement == 'magicskill'}">
					<button type="submit" th:formaction="@{/ally/create}">戻る</button>
				</div>
			</form>
			
		</div>
			
		<!-- 魔法自体の編集画面を表示 -->
		<div th:if="${session.magicmode == 'edit'}">
			<form th:action="@{/}" method="get" >
				<div>
					<button type="submit" th:formaction="@{/magic/create}">新規登録</button>
				</div>
			</form>
			
			<table border="1">
				<tr>
					<th>id</th>
					<th>名前</th>
					<th>消費MP</th>
					<th>カテゴリー</th>
					<th>威力</th>
					<th>補正値</th>
					<th>範囲</th>
					<th>説明文</th>
					<th>バフ効果</th>
					<th>発動回数</th>
					<th></th>
				</tr>
				
				<!-- 魔法一覧 -->
				<form th:action="@{/}" method="post" >
					<tr th:each="magic:${magicAllList}">
						<td>
							<a th:text="${magic.id}"></a>
						</td>
						<td>
							<a th:href="@{/magic/__${magic.id}__}"  th:text="${magic.name}"></a>
						</td>
						<td>
							<a th:text="${magic.mp}"></a>
						</td>
						<td>
							<a th:text="${magic.category}"></a>
						</td>
						<td>
							<a th:text="${magic.point}"></a>
						</td>
						<td>
							<a th:text="${magic.percentage}"></a>
						</td>
						<td>
							<a th:text="${magic.range}"></a>
						</td>
						<td>
							<a th:text="${magic.text}"></a>
						</td>
						<td>
							<a th:text="${magic.buffcategory}"></a>
						</td>
						<td>
							<a th:text="${magic.frequency}"></a>
						</td>
						<td>
							<div th:unless="${magic.id == 26}">
								<button type="submit" th:formaction="@{/magic/delete/__${magic.id}__}">削除</button>
							</div>
						</td>
					</tr>
					
				</form>
				
			</table>
			
			<form th:action="@{/}" method="get">
				<div>
					<button type="submit" th:formaction="@{/}">TOPへ戻る</button>
				</div>
			</form>
			
		</div>
			
		
	</body>

</html>