<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<div th:if="${session.announcement == 'success'}">
			<h3>
				登録完了!
			</h3>
		</div>
		
		<div>
			<table border="1">
				<tr>
					<th>項目</th>
					<th>数値</th>
				</tr>
					
				<form th:action="@{/}" method="post" th:object="${patternForm}">
						
					<!-- id部分は空欄 -->
					<tr>
						<td>
							<a>id</a>
						</td>
						<td>
							<input type="hidden" th:text="${id}" name="id" th:value="*{id}">
						</td>
					</tr>
						
					<tr>
						<td>
							<a>名前</a>
						</td>
						<td>
							<input type="text" size="50" name="name" th:value="*{name}">
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</td>
					</tr>
						
					<tr>
						<td>
							<a>消費MP</a>
						</td>
						<td>
							<input type="text" size="5" name="mp" th:value="*{mp}">
							<div th:if="${#fields.hasErrors('mp')}" th:errors="*{mp}"></div>
						</td>
					</tr>
						
					<tr>
						<td>
							<a>行動パターンのカテゴリー</a>
						</td>
						<td>
							<select name="category">
								<option value="attackskill" th:field="*{category}">物理系</option>
								<option value="attackmagic" th:field="*{category}">魔法系</option>
								<option value="miss" th:field="*{category}">不発系</option>
							</select>
							<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
						</td>
					</tr>
						
					<tr>
						<td>
							<a>威力</a>
						</td>
						<td>
							<input type="text" size="5" name="point"  th:value="*{point}">
							<div th:if="${#fields.hasErrors('point')}" th:errors="*{point}"></div>
						</td>
					</tr>
						
					<tr>
						<td>
							<a>補正値</a>
						</td>
						<td>
							<input type="text" size="5" name="percentage"  th:value="*{percentage}">
							<div th:if="${#fields.hasErrors('percentage')}" th:errors="*{percentage}"></div>
						</td>
					</tr>
						
					<tr>
						<td>
							<a>効果範囲</a>
						</td>
						<td>
							<select name="range">
								<option value="single" th:field="*{range}">単体</option>
								<option value="whole" th:field="*{range}">全体</option>
							</select>
							<div th:if="${#fields.hasErrors('range')}" th:errors="*{range}"></div>
						</td>
					</tr>
					
					<tr>
						<td>
							<a>効果説明</a>
						</td>
						<td>
							<input type="text" size="50" name="text"  th:value="*{text}">
							<div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
						</td>
					</tr>					
						
					<tr>
						<td>
							<a>バフ・デバフの種類</a>
						</td>
						<td>
							<select name="buffcategory">
								<option value="no" th:field="*{buffcategory}">なし</option>
								<option value="DEF" th:field="*{buffcategory}">防御力</option>
								<option value="burn" th:field="*{buffcategory}">火傷</option>
								<option value="poison" th:field="*{buffcategory}">毒</option>
								<option value="paralysis" th:field="*{buffcategory}">麻痺</option>
								<option value="sleep" th:field="*{buffcategory}">睡眠</option>
								<option value="swoon" th:field="*{buffcategory}">気絶</option>
								<option value="confusion" th:field="*{buffcategory}">混乱</option>
								<option value="wave" th:field="*{buffcategory}">いてつく波動</option>
							</select>
							<div th:if="${#fields.hasErrors('buffcategory')}" th:errors="*{buffcategory}"></div>
						</td>
					</tr>
					
					<tr>
						<td>
							<a>属性</a>
						</td>
						<td>
							<select name="attribute">
								<option value="no" th:field="*{attribute}">なし</option>
								<option value="breath" th:field="*{attribute}">息系統</option>
								<option value="fire" th:field="*{attribute}">炎系統</option>
								<option value="flash" th:field="*{attribute}">閃光系統</option>
								<option value="thunder" th:field="*{attribute}">雷系統</option>
							</select>
							<div th:if="${#fields.hasErrors('attribute')}" th:errors="*{attribute}"></div>
						</td>
					</tr>					
						
						
					<div th:if="${session.mode == 'patterncreate'}">
						<button type="submit" th:formaction="@{/pattern/create}">登録</button>
					</div>
					<div th:if="${session.mode == 'patternupdate'}">
						<button type="submit" th:formaction="@{/pattern/update}">更新-未</button>
					</div>
							
				</form>
			</table>
				
				<form>
					<button type="submit" th:formaction="@{/edit/pattern}">戻る</button>
				</form>
				
		</div>

	</body>

</html>